{% load staticfiles %}
<html>
   <head>
       <title>Renta de vh[icuos]</title>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

       <link rel="stylesheet" href="{% static 'css/Blog.css' %}">
   <body>

     <div class="page-header">

       {% if user.is_authenticated %}
                   <a href="{% url 'vehiculo_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Vehiculo</a>
                   <a href="{% url 'conductor_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span>Conductor</a>
               {% else %}
                   <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
               {% endif %}

         <h1>Renta</h1>

     </div>

     <div class="content container">
         <div class="row">
             <div class="col-md-8">
         {% block content %}
         {% endblock %}
             </div>
         </div>
      </div>
   </body>
</html>
